*{
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}


  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(151deg
, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(sfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


header{
  margin-top: 30px;
  font-size:2.000rem;
  font-style: italic;
}


#title{
   font-size: 20px;
}

#description{
  font-size: 2.000rem;
  font-weight: 400;
  text-align: center;
}

#description p {
  display: block;
  text-align: center;
}

.container{
  margin: 3.125rem auto 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  border-radius: 25px;
}

#survey-form{
  padding:40px;
}

.formgroup{
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label{
  display:flex;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  align-items: center;
  }

  #name-label{

  }

  #email-label{

  }

  #number-label{

  }

  input, button, select, textarea {
    margin: 0;
    font: 400 25px Arial;
    font-family: Roboto;
    color: black;
    text-align: start;

     }

select:not(:-internal-list-box) {
    overflow: visible !important;
    }

p{
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
    }

option{
  color: grey;
}

#dropdown{
  width: 100%;
  color: black;
   }


.input-radio, .input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}

#submit-button{
    display: block;
    width: 100%;
    padding: 0.90rem;
    background:#37af65;
    color: inherit;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
